.centered
	h4 будешь моей валентинкой???
 
	input.no(
		type='checkbox'
		name='answer'
		id='No'
	)
	label.no(for='No') неа
	
	input.yes(
		type='checkbox'
		name='answer'
		id='Yes'
	)
	label.yes(for='Yes') конечно!!
	
	.answer--yes
	.answer--no
	
.signature

	